services:
  db:
    image: postgis/postgis
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - dbbackups:/backups
    env_file:
      - ./.env
    ports:
      - 5434:5432
    restart: on-failure
    healthcheck:
      test: "exit 0"

  web:
    build: .
    entrypoint: ["/home/app/web/entrypoint.sh"]
    command: gunicorn --bind :${PORT:-8000} mapsurvey.wsgi:application
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      - db

volumes:
  dbbackups:
  postgres-data:
