[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-playwright = "*"
pytest-django = "*"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
django-leaflet = "*"
geojson = "*"
django-registration = "*"
pandas = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
celery = {extras = ["redis"], version = "*"}
django-ratelimit = "*"
django-redis = "*"

[requires]
python_version = "3.9"
