body {
  width: 100%;
  height: 100%;
  font-family: 'NotoSans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.questions p {
  padding-bottom: 0;
  margin-bottom: 0;
}

ul {
   list-style: none;
}


#map {
  height: 100vh; 
  width: 100vw; 
  z-index: 0;
}

#info_page {
  position: absolute;
  box-sizing: border-box;
  max-width: 540px;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  overflow-y: auto;
  height: 90%;
  z-index: 10;
  transition: all 0.5s ease-in;
  opacity: 0.95;
  left:10px;
  top: 5%;
  border: 1px solid black
  margin-right:10px;
}

.header{
  display: flex; 
  font-size: 2em;
  margin-bottom: 10px;
  padding: 15px;
}

#title{
  padding-left: 10px;
}

#content{
  padding: 15px;
}

.glyph {
  top: 50%;
  left: 50%;
  height: 50%;
}

#section_title{
  margin-left: 10px;
}

#showButton{
  position: absolute;
  left:10px;
  top: 5%;
  z-index: 9;

}

.drawbutton {
  margin-bottom: 1em;
  width: 100%;

}

.drawbutton p{
  margin-bottom: 0px;
}

.next_button {
  float:right;
}

.prev_button {
  float:left;
}

#drawbar{
  position: absolute;
  left: 45%;
  z-index: 9;
  top:5%;
}
