(function() {
    var _enabled = {{ survey.basemaps|safe }};
    if (!_enabled || !_enabled.length) _enabled = ['streets'];

    var _providers = {
        'streets':   { name: 'Streets',   url: mapboxUrl, opts: { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>', maxZoom: 23, accessToken: mapboxAccessToken }},
        'satellite': { name: 'Satellite', url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', opts: { attribution: '&copy; Esri', maxZoom: 19 }},
        'topo':      { name: 'Topo',      url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', opts: { attribution: '&copy; <a href="https://opentopomap.org">OpenTopoMap</a>', maxZoom: 17 }}
    };

    window._basemapLayers = {};
    var _baseMaps = {};
    var _first = null;
    _enabled.forEach(function(slug) {
        var p = _providers[slug];
        if (!p) return;
        var layer = L.tileLayer(p.url, p.opts);
        _baseMaps[p.name] = layer;
        window._basemapLayers[slug] = layer;
        if (!_first) { _first = layer; _first.addTo(map); }
    });

    if (Object.keys(_baseMaps).length > 1) {
        L.control.layers(_baseMaps, null, { position: 'topright', collapsed: true }).addTo(map);
    }
})();
