
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" type="text/javascript"></script>
</head>


<button id="showButton" onclick="toggleInfo(true)">
        <i class="fas fa-angle-double-right" style="font-size:28px; width:28px; height:28px;"></i>
</button>
<div id="info_page">
    <div class="header">
        <button id="closeButton" class="tablinks" onclick="toggleInfo(false)">
        <i class="fas fa-angle-double-left" style="font-size:28px; width:28px; height:28px;"></i>
        </button>
        <div id='title'>
        	{% block title %}
        	{% endblock %}
        </div>
    </div>
    <div id='content'>
    	{% block content %}
    	{% endblock %}
	</div>
	<div id='navig_buttons'>
		{% block navig_buttons %}
		{% endblock %}
	</div>
</div>

<div id="map"></div>

<script type="text/javascript">
    //nvigation
    function toggleInfo(show) {
        if(show) { info_page.style.visibility="visible"; }
        else { info_page.style.visibility="hidden"; }
    }

    //var map = L.map('map').setView(["{{ section.start_map_postion.y }}", "{{ section.start_map_postion.x }}"], "{{ section.start_map_zoom }}");
    var map = L.map('map', {zoomControl: false}).setView(["{{ survey.start_map_postion.y }}", "{{ survey.start_map_postion.x }}"], "{{ survey.start_map_zoom }}");
    L.control.zoom({position: 'bottomright'}).addTo(map);

    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
            maxZoom: 18,

    }).addTo(map);

    var editableLayers = new L.FeatureGroup();

    var currentQ = null
        
    map.addLayer(editableLayers);

    var drawPluginOptions = {
          position: 'topright',
          draw: {
            polygon: false,
            marker:false,
            polyline:false,
            circle: false, 
            rectangle: false,
           
            },
          edit: {
            featureGroup: editableLayers, //REQUIRED!!
            remove: false
          },
        };

        // Initialise the draw control and pass it the FeatureGroup of editable layers
    var drawControl = new L.Control.Draw(drawPluginOptions);
    map.addControl(drawControl);

    map.on('draw:created', function(e) {
        var type = e.layerType,
        layer = e.layer,
        	feature = layer.feature = layer.feature || {};

        feature.type = feature.type || "Feature"; // Intialize feature.type
        var props = feature.properties = feature.properties || {};
        props.question_id = currentQ;

        layer.bindPopup('<button type="button" class="btn btn-danger layer-delete">Delete</button>');
        layer.on("popupopen", onPopupOpen);
        


        editableLayers.addLayer(layer);


        toggleInfo(true);

        /*
        	let valueOfInput = $(".geo-inp[name='" + currentQ + "'").val()
        	valueOfInput += (JSON.stringify(layer.toGeoJSON()) + "|")
        	console.log(valueOfInput)
        	$(".geo-inp[name='" + currentQ + "'").val(valueOfInput)
        */
    });

    function onPopupOpen(){
    	var tempLayer = this;

    	$("button.layer-delete").click(function(){
    		editableLayers.removeLayer(tempLayer);
    	})
    }

    $("#section_question_form").submit(function(e){
    	editableLayers.eachLayer(function(layer){
    		let valueOfInput = $(".geo-inp[name='" + layer.feature.properties.question_id + "'").val()
    		valueOfInput += (JSON.stringify(layer.toGeoJSON()) + "|")
        	console.log(valueOfInput)
        	$(".geo-inp[name='" + layer.feature.properties.question_id + "'").val(valueOfInput)
    	})
    })



    $('.endservey').click(function() {
        console.log(editableLayers)
        console.log(document.location.href) // убрать лишнии знаки в конце урла посре 6 /
        console.log(editableLayers._layers)
        console.log(editableLayers.toGeoJSON())
        console.log(JSON.stringify(editableLayers.toGeoJSON()))
        for (l in editableLayers._layers) {
            console.log(editableLayers._layers[l].toGeoJSON())
            console.log(JSON.stringify(editableLayers._layers[l].toGeoJSON()))
        }

        // $.ajax({
        //   url: document.location.href,
        //   type: "POST",
        //   data: a,
        //   success: console.log("succsec"),
        //   dataType: 'json'
        // });
    })



    $('.drawpolygon').click(function() {
       

        var polygonDrawer = new L.Draw.Polygon(map);

        polygonDrawer.setOptions(
            {
                    shapeOptions:{
                        color:$(this).attr('data-color'),
                    }
            }
            
        )

        polygonDrawer.enable();
        toggleInfo(false);

        currentQ = $(this).attr('name')

    });

    $('.drawline').click(function() {
        var options = {
            color: $(this).attr('data-color'),
        }

        var lineDrawer = new L.Draw.Polyline(map, options);

        lineDrawer.enable();
        toggleInfo(false);
        currentQ = $(this).attr('name')
    })

    $('.drawpoint').click(function() {
        var options = {
            color: $(this).attr('data-color'),
        }

        var pointDrawer = new L.Draw.Marker(map, options);

        pointDrawer.enable();
        toggleInfo(false);
        currentQ = $(this).attr('name')
    })



</script>

</body>


