{% load leaflet_tags %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<div id='description' c>
    <div class="tab">
        <div class="tablinks" onclick="openTab(event,'project')" id="defaultOpen">{{ question.title }}</div>
        <!--<div class="tablinks" onclick="openTab(event,'method')"> МЕТОДОЛОГИЯ</div> -->
    </div>
    <div id="project" class="tabcontent">
        <p> {{ question.description }} </p>
        <p> {{ session.values }} </p>
        <p> session: {% if session_id %} {{ session_id }} {% else %} none {% endif %} </p>
    </div> 

    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                {% if question.prev_question %}
                    <a class="btn btn-primary" href="../{{ question.prev_question.code }}" role="button">Назад</a>
                {% endif %}
            </div>
            <div class="col-2 align-self-end">
                {% if question.next_question %}
                    <a class="btn btn-primary" href="../{{ question.next_question.code }}" role="button">Далее</a>
                {% else %}
                    <a class="btn btn-primary" href="../../" role="button">Завершить</a>
                {% endif %}
            </div>
    </div>

</div>

            

</div>

<div class='column'>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        // get point lat and lon
        var lon = "{{ question.map_position.x }}";
        var lat = "{{ question.map_position.y }}";
        // zoom to point & add it to map
        map.setView([lat, lon], "{{ question.zoom }}" );
        L.marker([lat, lon]).addTo(map);
    }
</script>