{% extends 'base_survey_template.html' %}

{% block title %}
    {{ section.title }}
{% endblock %}

{% block content %}
	<div class='questions'>
		<form method="post" id="section_question_form">
			{% csrf_token %}
        	{{ form }}
        </form>
	</div>
{% endblock %}

{% block navig_buttons %}
    <div class="container navig_buttons">
        <div class="row">
            <div class="col align-self-start">
                {% if section.prev_section %}
                    <a class="btn btn-primary prev_button" href="../{{ section.prev_section }}" role="button">Назад</a>
                   
                {% endif %}
            </div>
            <div class="col align-self-end">
                {% if section.next_section %}
                    <input type="submit" class="btn btn-primary" form="section_question_form" value="Далее">
                    <!-- <a class="btn btn-primary prev_button" href="../{{ section.next_section }}" role="button">Далее</a> -->
                {% else %}
                    <input type="submit" class="btn btn-primary next_button" form="section_question_form" value="Завершить">
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}